.banner-img {
    padding: 192px;
}

@media (max-width: 768px) {
    .home-img {
        display: none;
    }

    .banner-img {
        padding: 100px;
        width: 100%;
    }

    .banner-text {
        font-size: 40px;
        line-height: 40px;
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}